<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Send a Message to the Boss</title>
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% if session['logged'] %}
            <h3>Send a Message to the Boss</h3>
            <form action="{{ url_for('send_message') }}" method="POST">
                Message: <br>
                <input type="text" name="message"><br>
                <input type="submit" name="submit"><br>
            </form>
        {% endif %}
    </body>
</html>